# Secrets
.env

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Audio files (optional)
audio/

# Generated outputs
transcripts/
faiss_index/

# FAISS databases
faiss_RAG_AUDIO/
faiss_What is Retrieval-Augmented Generation (RAG)_/

# Notebooks
notebooks/